body{
  background-color: aliceblue;
}
.section1{
  background-color: pink;
  height: 200px;
}
.section2 {
  height: 100px;
  background-color: coral;
}
.section3 {
  height: 100px;
  background-color: darkblue;
}